$background_image: url("../img/header_background_v2.jpg");
$font_header:	normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$font_main: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
